pdf2image==1.16.3
pytesseract @ git+https://github.com/madmaze/pytesseract.git@8463b13fbfdc1b17d33f370354e0cd855a9f82e0
PyPDF2==3.0.1
tesseract-ocr==5.0.0-alpha.20210506
tesseract-ocr-ara==1.1.0
poppler-utils==21.11.0